.required_input
{
 color:red;
}

.font-required
{
    font-size:12px;
    font-weight: 600;
    vertical-align: super;
}

.activate
{
 color:green;
}

.inactivate
{
 color:orange;
}

a.disabled {
    pointer-events: none;
    color: #ccc;
    /*cursor: not-allowed;*/
}